 <%= @msg %>

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
HYPTYO. PRIMO TOKYO INFO.
www.hyptyo.com
