<%= @msg %>


HYPTYO LIST <%= @timeframe.upcase %>

<% if  @user.language=="eng"%><%= render :partial => './listyo_eng', :locals=>{:@events=>@events, :@events2=>@events2, :@eow=>@eow, :@lang=>"eng" } %>
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
JAPANESE:

<%= render :partial => './listyo_eng', :locals=>{:@events=>@events, :@events2=>@events2, :@eow=>@eow, :@lang=>"jp" } %><% else %><%= render :partial => './listyo_eng', :locals=>{:@events=>@events, :@events2=>@events2, :@eow=>@eow, :@lang=>"jp" } %>
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ENGLISH:

<%= render :partial => './listyo_eng', :locals=>{:@events=>@events, :@events2=>@events2, :@eow=>@eow, :@lang=>"eng" } %>
<% end %>
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<%= render :partial => './unsubscribe' %>
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------


HYPTYO. PRIMO TOKYO INFO.
