
Your HYPTYO password has been reset

--------------------------------------------------------
New account details:
Login: <%= @user.login %>
Password: <%= @password %>
--------------------------------------------------------

Login here: http://www.hyptyo.com/front/login


HYPTYO. Primo Tokyo Info.
