Thanks for signing up to Hyptyo. 
Please activate your membership to the Hyptyo List. 
こちらのアドレスをクリックし、あなたのアカウントを起動させてください。:
http://www.hyptyo.com/subscribe/activate?activation_code=<%= @user.activation_code %>

HYPTYO. Primo Tokyo Info.




Thanks for signing up to Hyptyo. 
Please activate your membership to the Hyptyo List. 
Visit this url to activate your account:
http://www.hyptyo.com/subscribe/activate?activation_code=<%= @user.activation_code %>

HYPTYO. Primo Tokyo Info. 





