Thanks for signing up to Hyptyo.

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Your login details are as follows:
Login:<%= @user.login %>
Password: <%= @user.password %>
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------