<div id="stats">(Total Visits: <%= post.visit_count %>. Posted: <%= distance_of_time_in_words_to_now post.created_at %> ago. Last edited: <%= distance_of_time_in_words_to_now post.modified_at %> ago.)</div>