<html>
<head>
  <title>Admin: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

	<% if flash[:notice] -%> <br>
	<div id="notice"><%= flash[:notice] %></div> <br>
	<% end -%>
<%= yield  %>

</body>
</html>
